{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">[</span><span class="base08">A</span><span class="base09">b</span><span class="base0a">i</span><span class="base0b">d</span> <span class="base0c">H</span><span class="base0d">u</span><span class="base0e">s</span><span class="base0f">s</span><span class="base0g">a</span><span class="base0h">i</span><span class="base0i">n</span><span class="base05">]</span>
  <span class="base05">Infinite-loop</span>
</h1>

<div class="hero-logo">
  <img src="{{ $baseurl }}img/base16-eighties.svg">
</div>

<div style="text-align: center;">
	finally made some progress, welcome :)
</div>
